/* blog index */
.blog-index { padding: 170px 0 100px 0; }
.blog-index .inner { width: 70%; margin: 0 auto; background-color: #fff; padding: 20px 30px 20px 30px; }
.blog-index .inner .date { margin-top: 25px; margin-bottom: 30px; }
.blog-index .inner .date ul { display: flex; justify-content: space-between; width: 180px; }
.blog-index .inner .date ul li { color: #909090; position: relative; }
.blog-index .inner .date ul li a { color: #909090; }
.blog-index .inner .date ul li a:after { position: absolute; content: ""; background: #888; height: 1px; width: 100%; bottom: -5px; left: 0; }
.blog-index .inner .title { border-bottom: 1px solid rgba(0,0,0,0.09); padding-bottom: 20px; }
.blog-index .inner .title:last-child { border-bottom: none; }
.blog-index .inner .title h4 { font-size: 22px; color: #000; margin-bottom: 15px; }
.blog-index .inner .title p { color: #777; line-height: 1.7; }

/* blog detail */
.blog-detail { padding: 170px 0 100px 0; height: 100vh; }
.blog-detail .inner { background-color: #fff; width: 70%; margin: 0 auto; padding: 50px 20px 40px 20px; }
.blog-detail .inner .title { font-size: 25px; color: #000; margin-bottom: 15px; }
.blog-detail .inner .date { margin-bottom: 30px; border-bottom: 1px solid rgba(0,0,0,0.09); padding-bottom: 20px; }
.blog-detail .inner .date ul { display: flex; justify-content: space-between; width: 160px; }
.blog-detail .inner .date ul li { font-size: 13px; color: #777; }
.blog-detail .inner .date ul li a { color: #777; }
.contents p { line-height: 1.7; }
.go-list { margin-top: 25px; }
.go-list button { border: none; background: transparent; font-size: 14px; border: 1px solid #000; padding: 10px; }
.go-list button:hover { background-color: #000; color: #fff; transition: all 0.6s; }

/* blog category */
.category-index { padding: 170px 0 100px 0; height: 100vh; }
.category-index .inner { width: 70%; margin: 0 auto; background-color: #fff; display: flex; justify-content: center; }
.category-index .inner .title { padding: 70px; 0 }
.category-index .inner .title h2 { font-weight: bold; font-size: 25px; margin-bottom: 30px; }
.category-list { margin-bottom: 10px; }
.category-list h4 a { font-size: 18px; color: #777; }
